*{
    margin: 0px;
    padding: 0px;
}
.Header_outer_container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20,20,20);
    background-color:transparent;
    height: 10vh; 
    color: white;
    transition:all 0.5s ;
    transition-timing-function: ease-in;
    z-index: 1;
    background-color: #111;
}
.nav_black{
    background-color: rgb(20,20,20);
}
.Header_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_left ul{
    width: 140%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 20px;
} 
.header_right ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap:10px;
    padding-left: 2px;
    padding-top: 20px;
}
li{
    font-size: 13px;
}
.logo{
   cursor: pointer;
   font-size: 30px;
   
}

.header_right ul li{
    font-size: 10px;
}  
    

